name: 'Deploy package'
on:
  push:
    tags:
      - '**'

jobs:
  deploy-package:
    name: 'Deploy'
    runs-on: 'ubuntu-latest'
    env:
      TOKEN: ${{ secrets.TOKEN }}
      CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
      APPLICATION_ID: ${{ secrets.APPLICATION_ID }}
    steps:
      - name: 'Checkout code'
        uses: 'actions/checkout@v4'
      - name: 'Authenticate to GitHub Packages'
        uses: 'docker/login-action@6d4b68b490aef8836e8fb5e50ee7b3bdfa5894f0'
        with:
          registry: 'ghcr.io'
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Extract metadata (tags, labels) for Docker'
        id: 'meta'
        uses: 'docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051'
        with:
          images: "ghcr.io/${{ github.repository }}"
      - name: 'Build and push Docker image'
        id: 'push'
        uses: 'docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83'
        with:
          context: .
          push: true
          build-args: |
            BUILD_TIME=${{ github.run_id }}
            GIT_TAG=${{ github.ref_name }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
